{% extends 'base.html' %}

{% block content %}


<!-- pairs is a list that must be sent here by a route function
     The list will contain 45 pairs: a presidency number, and a
     president's name -->

     <!--       later editing change    test     -->
     <!--  url_for( 'detail', num=pair[0] )  -->
     <!--    inside double curly braces      -->
<div id="title">
<h1> {{ title }} </h1>
</div>
	<div id="container">
		     {% for info in infos %}
		<div class="beer">
			<div class="front">
				<img src="https://logo.clearbit.com/{{ info[0] }}?size=150" alt="{{ info[1] }}"></a>
			</div>
			<div class="back">
				<ul>
					<li class="cute"> {{ info[1] }} </li>
					<li> {{ info[2] }} </li>
					<li> Address: {{ info[3] }} {{ info [4] }} </li>
					<li> Website: <a href="{{ info[0] }}"> {{ info[1] }}</a>
				</ul>
			</div>
		</div>
		     {% endfor %}
	</div>

{% endblock %}
