body {
    background-color: #ff69b4;
}

#map {
  width: 700px;
  height: 450px;
  fill: #335577
}

#selected-state {
  font-size: 1.5em;
  margin-bottom: 20px;
  font-style: italic;
}

stateHoverStyles: {
    fill: '#ffc600',
},

#selected-state > span {
 font-style: normal;
  font-size: 0.75em;
}

#container {
  display: flex; /* or inline-flex */
  flex-wrap: wrap;
}

.cute {
  flex-basis: 33%; /* default is 0 */
}

img {
  position: relative;
}

/* style this to fit your needs */
/* and remove [alt] to apply to all images*/
img[alt]:after {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
  font-family: 'Helvetica';
  font-weight: 300;
  line-height: 2;
  text-align: center;
  content: attr(alt);
}
